a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo-sec {
  display: flex;
  flex-direction: row;
  height: 66px;
  width: 375px;
  background-color: white;
}

.wel {
  flex: 1;
  color: rgba(40, 53, 47, 1);
  font-size: 20px;
  width: 90px;
  font-weight: 600;
  margin-right: 209px;
  height: 28px;
  margin-left: 24px;
  margin-top: 22px;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 29px;
}

.image {
  flex: 1;
  width: 18px;
  height: 16px;
  margin-right: 32px;
}

.info1 {
  display: flex;
  width: 375px;
  height: auto;
  flex-direction: column;
  background-image: url("img/bg1.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.heading {
  flex: 1;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  width: 327px;
  max-height: 192px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
}

.heading1 {
  flex: 1;
  font-size: 40px;
  font-family: Inter, sans-serif;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
  margin-bottom: 0;
}

.heading2 {
  flex: 1;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #36b37f;
  margin-top: 0;
  text-align: center;
}

.texting {
  flex: 1;
  display: flex;
  margin-top: 58px;
  width: 327px;
  height: 164px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.text1 {
  flex: 1;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #172b4d;
  text-align: center;
}

.icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;
}

.icon1 {
  flex: 1;
  width: 19.99px;
  height: 19.96px;
}

.icon2 {
  flex: 1;
  margin-left: 19.78px;
  width: 20px;
  height: 20px;
}

.icon3 {
  flex: 1;
  margin-left: 20px;
  width: 20px;
  height: 16px;
  margin-top: 4px;
}

.icon4 {
  flex: 1;
  margin-left: 20px;
  width: 17.99px;
  height: 20px;
}

.icon5 {
  flex: 1;
  margin-left: 19.01px;
  width: 14.17px;
  height: 20px;
}

@font-face {
  font-family: Inter;
  src: url(Inter-VariableFont_slnt\wght.ttf);
}

.actiondiv {
  flex: 1;
  display: flex;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 64px;
}

.action {
  flex: 1;
  width: 40px;
  height: 40px;
}

body {
  background-color: red;
}

.main-page {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin-top: 0;
  background-color: #fff;
}
.title {
  flex: 1;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 97px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 22px;
}

hr {
  flex: 1;
  width: 48px;
  height: 4px;
  color: rgba(54, 179, 126, 1);
  top: 121px;
  margin-right: auto;
}

.project_block {
  display: grid;
  width: 375px;
  background-color: #fff;
  grid-template-areas: "grade1" "grade2" "grade3" "grade4" "grade5" "grade6";
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.grade1 {
  grid-area: grade1;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade2 {
  grid-area: grade2;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade3 {
  grid-area: grade3;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade4 {
  grid-area: grade4;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade5 {
  grid-area: grade5;
  height: auto;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade6 {
  grid-area: grade6;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.pro {
  display: flex;
  margin-top: 252px;
  max-width: 327px;
  height: auto;
  margin-left: 0;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 0;
}

.grade-title {
  flex: 1;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 295px;
  height: 57px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.rucsht {
  flex: 1;
  flex-direction: row;
  display: flex;
  margin-left: 55px;
  margin-right: 40px;
  height: 32px;
  max-width: 300px;
  justify-content: center;
  margin-top: 16px;
}

.ruby {
  flex: 1;
  min-width: 79px;
  height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(208, 217, 212, 1);
}

.css {
  flex: 1;
  max-width: 21px;
  height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(208, 217, 212, 1);
  margin-left: 8px;
}

.javaScript {
  flex: 1;
  max-width: 58px;
  height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(208, 217, 212, 1);
  margin-left: 8px;
}

.html {
  flex: 1;
  max-width: 27px;
  height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: #3a4a42;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: rgba(208, 217, 212, 1);
  margin-left: 8px;
  margin-right: 50px;
}

.project {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  width: 122px;
  height: 48px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  padding-top: 10px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(54, 179, 127, 1);
  margin-bottom: 24px;
  margin-top: 29px;
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  background-image: url(back1.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.about_title {
  flex: 1;
  font-family: Inter;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  max-width: 351px;
  height: 48px;
  margin-top: 68px;
  color: #172b4d;
}

.about_title1 {
  flex: 1;
  width: 351px;
  height: 189px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aboutlink {
  flex: 1;
  width: 159px;
  height; 48px;
  margin-bottom: 59px;
}

.promax1 {
  flex: 1;
}

.bloking {
  display: flex;
  flex-direction: column;
  background-color: rgba(208, 217, 212, 1);
}

.promax1 { 
  flex: 1;
  background-color: #fff;
  width: 70px;
  height: 44px;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-top: 40px;
}

.promax2 {
  flex: 1;
  background-color: #fff;
  width: 70px;
  height: 44px;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; 
  margin-top: 40px;
}

.promax3 { 
  flex: 1;
  background-color: #fff;
  width: 48px;
  height: 48px;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 0;
  margin-left: 140px;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 50%;
}

.grad {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.rucsht1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 72px;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 300px;
}

.terminal {
  flex: 1;
  max-width: 53px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 8px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.gitlab  {
  flex: 1;
  max-width: 37px;
  margin-left: 8px;
  margin-top: 8px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.github  {
  flex: 1;
  max-width: 43px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  margin-left: 8px;
  border-radius: 10%;
}

.codepen  {
  flex: 1;
  max-width: 55px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
}

.codekit  {
  flex: 1;
  max-width: 48px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.bootstrap  {
  flex: 1;
  max-width: 60px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.rubyx  {
  flex: 1;
  max-width: 31px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 8px;
}

.rSpec {
  flex: 1;
  max-width: 49px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.capybara {
  flex: 2;
  max-width: 59px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-top: 8px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.selenium {
  flex: 1;
  max-width: 57px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  padding: 12px;
  margin-left: 8px;
  background-color: #fff;
  margin-top: 8px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
}

.javaScript1 {
  flex: 1;
  max-width: 65px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.rubyno {
  flex: 1;
  min-width: 79px;
  height: 16px;
  padding: 12px;
  margin-left: 8px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.html1 {
  flex: 1;
  max-width: 29px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.css1 {
  flex: 1;
  max-width: 26px;
  height: 16px;
  padding: 12px;
  background-color: #fff;
  letter-spacing: 0.03em;
  color: #36b37e;
  border-radius: 10%;
  margin-left: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}

.project_blockx {
  display: grid;
  width: 375px;
  background-color: #fff;
  grid-template-areas: "grade11" "grade21" "grade31";
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
}

.grade11 {
  grid-area: grade11;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade21 {
  grid-area: grade21;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.grade31 {
  grid-area: grade31;
  width: 327px;
  height: auto;
  background-color: rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 375px;
}